.sidebar {
  background: #225530;
  width: 350px;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
}

.profile {
  text-align: center;
  margin-bottom: 2rem;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-bottom: -10px;
  margin-top: -50px;
}

.logo-link {
  display: inline-block;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.logo-link:hover {
  transform: scale(1.05);
}

.logo {
  width: 200px !important;
  height: 200px !important;
  border-radius: 12px !important;
  margin-bottom: 1rem !important;
  object-fit: contain;
  margin-top: -50px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
}

.menu-item {
  padding: 1.5rem;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: .25rem;
  border-radius: 6px;
  font-size: 20px;
}

.menu-item.active,
.menu-item:hover {
  background: hsl(0, 0%, 100%);
  color: #225530;
}

.notif-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  margin-left: 8px;
  font-weight: bold;
}


