<aside class="sidebar">
  <div class="profile">
    <a routerLink="/home" class="logo-link">
      <img src="assets/images/image1.png" alt="Food Shield Logo" class="logo">
    </a>
    <img [src]="profilePhoto || 'assets/images/avatar1.jpg'" alt="avatar" (error)="onImageError($event)">
    <h2>HELLO,<br>{{username}}</h2>
  </div>

  <nav class="menu">
    <a routerLink="/manage-inventory" class="menu-item" routerLinkActive="active">📦 Manage inventory</a>
    <a routerLink="/inventory" class="menu-item" routerLinkActive="active">🔎 Browse inventory</a>
    <a routerLink="/analytics" class="menu-item" routerLinkActive="active">📊 View Analytics</a>
    <a routerLink="/planWeeklyMeal" class="menu-item" routerLinkActive="active">🍽 Plan Weekly Meals</a>
    <a routerLink="/notifications-list" class="menu-item" routerLinkActive="active">🔔 Notification</a>
    <a routerLink="/account-settings" class="menu-item" routerLinkActive="active">⚙️ Account Settings</a>
  </nav>
</aside>
