<div class="container">
  <app-sidebar></app-sidebar>

  <main class="content">
    <h1>Food Inventory</h1>
    <h3>> Donation List</h3>

    <table>
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Qty</th>
          <th>Expiry Date</th>
          <th>Pickup Location</th>
          <th>Availability</th>
          <th>Notes</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donation of donations">
          <td>{{ donation.foodId?.name }}</td>
          <td>{{ donation.qty }}</td>
          <td>{{ donation.foodId?.expiry | date:'yyyy-MM-dd' }}</td>
          <td>{{ donation.location }}</td>
          <td>{{ donation.availability }}</td>
          <td>{{ donation.notes }}</td>
          <td>
            <button (click)="edit(donation)">Edit</button>
            <button (click)="delete(donation)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</div>
